<template>
    <div class="animated fadeIn">
        <b-row class="mt-5">
            <b-col cols="12" sm="6" lg="3">
            </b-col>
            <b-col cols="12" sm="6" lg="3">
                <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                        <i class="fa fa-laptop bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-info mb-0 pt-3">Order API</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">
                            <span class="badge badge-primary" v-if="$store.getters.orderApiHealth">live</span>
                            <span class="badge badge-danger" v-if="!$store.getters.orderApiHealth">dead</span>
                        </div>
                    </b-card-body>
                </b-card>
            </b-col>
            <b-col cols="12" sm="6" lg="3">
                <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                        <i class="fa fa-moon-o bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-warning mb-0 pt-3">Payment API</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">
                            <span class="badge badge-primary" v-if="$store.getters.paymentApiHealth">live</span>
                            <span class="badge badge-danger" v-if="!$store.getters.paymentApiHealth">dead</span>
                        </div>
                    </b-card-body>
                </b-card>
            </b-col>
            <b-col cols="12" sm="6" lg="3">
            </b-col>
        </b-row><!--/.row-->
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component({
        name: 'ApiHealth',
    })
    export default class ApiHealth extends Vue {}
</script>
