<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col sm="12">
                <b-card>
                    <div slot="header">
                        <strong>Create Order</strong>
                    </div>
                    <b-form>
                        <b-form-group
                                label="Product ID"
                                label-for="productId"
                                label-cols-sm="3"
                                label-cols-lg="2"
                                :invalid-feedback="productIdFeedback"
                                :state="validationState($v.productId)">
                            <b-form-input id="productId" :class="validationClass($v.productId)" type="text"  v-model.trim="$v.productId.$model" placeholder="Enter the product id"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Product Name"
                                label-for="productName"
                                label-cols-sm="3"
                                label-cols-lg="2"
                                :invalid-feedback="productNameFeedback"
                                :state="validationState($v.productName)">
                            <b-form-input id="productName" :class="validationClass($v.productName)" type="text"  v-model.trim="$v.productName.$model" placeholder="Enter the product name"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Price"
                                label-for="price"
                                label-cols-sm="3"
                                label-cols-lg="2"
                                :invalid-feedback="priceFeedback"
                                :state="validationState($v.price)">
                            <b-form-input id="price" :class="validationClass($v.price)" type="text"  v-model.trim="$v.price.$model" placeholder="Enter the price"></b-form-input>
                        </b-form-group>
                        <div slot="footer">
                            <b-button size="sm" variant="success" @click="createOrder" :disabled="$v && $v.$invalid"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
                        </div>
                    </b-form>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script lang="ts">
    import { Component } from 'vue-property-decorator';
    import { required, numeric } from 'vuelidate/lib/validators';
    import { Validation } from '@/shared/validation';
    import { IVuelidate, Vuelidate, ValidationRuleset } from 'vuelidate';

    @Component({
        name: 'ChangePassword',
        validations: {
            productId: {
                required,
            },
            productName: {
                required,
            },
            price: {
                required,
                numeric,
            },
        },
    })
    export default class Create extends Validation {
        protected productId: string = '';
        protected productName: string = '';
        protected price: number = 0;

        get productIdFeedback() {
            if (this.$v && this.$v.productId.$dirty && !this.$v.productId.required) {
                return 'Please enter Product ID';
            } else {
                return '';
            }
        }

        get productNameFeedback() {
            if (this.$v && this.$v.productName.$dirty && !this.$v.productName.required) {
                return 'Please enter Product Name';
            } else {
                return '';
            }
        }

        get priceFeedback() {
            if (this.$v && this.$v.price.$dirty && !this.$v.price.required) {
                return 'Please enter price';
            } else if (this.$v && this.$v.price.$dirty &&
                !this.$v.price.numeric) {
                return 'Invalid price, numbers only' ;
            } else {
                return '';
            }
        }

        protected async createOrder() {
            if (this.$v && !this.$v.$invalid) {
                await this.$store.dispatch('createOrder', {
                    productId: this.productId,
                    productName: this.productName,
                    price: this.price,
                });
                this.$router.push({name: 'Orders'});
            }
        }
    }
</script>
