<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="7">
          <b-card-group>
            <b-card no-body class="p-3">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" placeholder="Username" autocomplete="username email" v-model="email" @keyup="keyUpSubmit" />
                  </b-input-group>
                  <p class="text-danger mb-4">{{errorMessage}}</p>
                  <b-row>
                    <b-col cols="12">
                      <b-button variant="primary" class="px-4" @click="login">Login</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { OrderAPI } from '../backend/orderapi';

  @Component({
    name: 'Login',
  })
  export default class Login extends Vue {
    protected email: string = '';
    protected errorMessage: string = '';

    protected async keyUpSubmit(event: {key: string}) {
      if (event.key === 'Enter' && this.email) {
        await this.login();
      }
    }

    protected async login() {
      const result = await OrderAPI.login({
        email: this.email,
      });

      if (typeof result === 'boolean') {
        if (!result) {
          this.errorMessage = 'Login failed';
        } else {
          this.$router.push({name: 'Home'});
        }
      } else {
        this.errorMessage = result as string;
      }
    }
  }
</script>
