<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
        <b-card :header="caption">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" @row-clicked="rowClicked">
            <template slot="_id" slot-scope="data">
              <strong>{{data.item._id}}</strong>
            </template>
            <template slot="productName" slot-scope="data">
              <strong>{{data.item.productName}}</strong>
            </template>
            <template slot="states" slot-scope="data">
              <b-badge :variant="getBadge(data.item.states)">{{data.item.states}}</b-badge>
            </template>
          </b-table>
          <nav>
            <b-pagination size="sm" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
          </nav>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Router from 'vue-router';

  @Component({
    name: 'Orders',
  })
  export default class Users extends Vue {
    @Prop({default: 'Orders'})
    protected caption!: string;

    @Prop({default: true})
    protected hover!: boolean;

    @Prop({default: true})
    protected striped!: boolean;

    @Prop({default: false})
    protected bordered!: boolean;

    @Prop({default: false})
    protected small!: boolean;

    @Prop({default: false})
    protected fixed!: boolean;

    protected items: Order[] = [];
    protected fields: Field[] = [
        {key: '_id'},
        {key: 'productId'},
        {key: 'productName'},
        {key: 'price'},
        {key: 'states'},
    ];
    protected currentPage: number = 1;
    protected perPage: number = 5;
    protected totalRows: number = 0;

    protected async mounted() {
      await this.$store.dispatch('loadOrders');
      this.items = this.$store.getters.orders;
    }

    protected getBadge(status: string) {
      return status === 'delivered' ? 'success'
              : status === 'confirmed' ? 'secondary'
                      : status === 'created' ? 'warning'
                              : status === 'cancelled' ? 'danger' : 'primary';
    }

    protected getRowCount(items: Order[]) {
      return items.length;
    }

    protected userLink(id: string) {
      return `orders/${id}`;
    }

    protected rowClicked(item: Order) {
      const userLink = this.userLink(item._id);
      (this.$router as Router).push({path: userLink});
    }
  }
</script>

<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
