<template>
  <b-row>
    <b-col cols="12" lg="12">
      <b-card no-header>
        <template slot="header">
          User id:  {{ $route.params.id }}
        </template>
        <b-table striped small fixed responsive="sm" :items="items($route.params.id)" :fields="fields">
          <template slot="value" slot-scope="data">
            <strong>{{data.item.value}}</strong>
          </template>
        </b-table>
        <template slot="footer">
          <b-button @click="goBack">Back</b-button>
          <b-button class="ml-4" variant="primary" v-if="order && order.states !== 'cancelled'" @click="cancel">Cancel Order</b-button>
        </template>
      </b-card>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Router from 'vue-router';

  @Component({
    name: 'Order',
  })
  export default class User extends Vue {
    @Prop({default: 'Order id'})
    protected caption!: string;

    protected order: Order | undefined = undefined;

    protected fields: Array<{key: string}> = [
      {key: 'key'},
      {key: 'value'},
    ];

    protected async mounted() {
      await this.$store.dispatch('loadOrders');
    }

    protected items(id: string): Array<{key: string, value: string | number}> {
      this.order = this.$store.getters.orders.find((o: Order) => o._id === id);
      const orderDetails: Array<[string, (string | number)]> =
              this.order ? Object.entries(this.order) : [['id', 'Not found']];
      return orderDetails.filter(([key, value]) => key !== '__v').map(([key, value]) => {
        return {key, value};
      });
    }

    protected goBack() {
      (this.$router as Router).go(-1);
    }

    protected async cancel() {
      await this.$store.dispatch('cancelOrder', this.order!._id);
    }
  }
</script>
