<template>
  <div class="app">
    <AppHeader fixed>
      <b-link class="navbar-brand" to="#">
        <img class="navbar-brand-full" src="../assets/logo.png" height="25" alt="Order Logo">
        <img class="navbar-brand-minimized" src="img/icons/safari-pinned-tab.svg" width="30" height="30" alt="Order Logo">
      </b-link>
      <b-navbar-nav>
        <b-nav-item class="px-3" to="/">Order</b-nav-item>
        <b-nav-item class="px-3" to="/create" exact>Create</b-nav-item>
        <b-nav-item class="px-3" to="/apiHealth">API Health</b-nav-item>
        <b-nav-item class="px-3" @click="logout">Logout</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
      </b-navbar-nav>
    </AppHeader>
    <div class="app-body">
      <main class="main">
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
    </div>
    <TheFooter>
      <!--footer-->
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span class="ml-1">&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="https://coreui.io">CoreUI for Vue</a>
      </div>
    </TheFooter>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import {
    Header as AppHeader,
    Footer as TheFooter} from '@coreui/vue';

  @Component({
    name: 'DefaultContainer',
    components: {
      AppHeader,
      TheFooter,
    },
  })
  export default class DefaultContainer extends Vue {
    get name() {
      return this.$route.name;
    }

    protected logout() {
      localStorage.setItem('token', '');
      this.$router.replace({name: 'Login'});
    }
  }
</script>
